@font-face {
    font-family: 'Monsieur La Doulaise';
    src: url('../fonts/MonsieurLaDoulaise-Regular.ttf') ;
}

/* ------------------------- Fade in for body. To offer a nice laoding transition and to allow larger fonts to load if needed */
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    }
    
    @keyframes fadeInOpacity {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
 }

html { /* for smooth scrolling to section */
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.main-area {
    padding-left: 5%;
    padding-right: 5%;
}
/* ------------------------- Colours */
        /* Colour of rumours album #fffcea */
        /* colour of 2018 album #ECCB82 */ 
        /* Colour for 50 year album #8E191C */
body {
    background-color: #fffcea;
}

.main-logo h1 {
    background-color:#8E191C;
    color: #e1c281;
}

a h2{
    color: #e1c281;
}

.navbar {
    background-color: #8E191C;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #e1c281;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(227,192,133,.5);
}

.navbar .navbar-toggler { /* Nav bar button for collasped view*/
    border: 0;
}

.stream-on {
    color: #8E191C;
}

.tour-section, .social-section, footer{
    background-color: #8E191C;
    color: #e1c281;
} 

.tour-dates, .tour-country{
    color: #e1c281;
}

td:first-child {
    color: #fffcea;
}

td:last-child{
    color:rgba(227,192,133,.5);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

.carousel-inner{
    background-color: #fffcea;
}

.sample-music-heading, .newsletter-heading {
    color: #8E191C;
}

.twitter-section{
    background-color: #8E191C;
}

.twitter-heading, .card-link {
    color: #e1c281;
}

.newsletter-btn {
    background-color: #8E191C;
    color: #e1c281;
    border-color: rgba(0, 0, 0, 0);
}

.fa-twitter, .fa-apple, .fa-spotify, .fa-youtube, .fa-arrow-alt-circle-up{
    color: #e1c281;
}
/* ------------------------- Main logo large */
.main-logo h1{
    font-family: 'Monsieur La Doulaise', cursive, sans-serif;
    font-size: 3.5em;
    padding-top: 0.4em;
    margin-bottom: -.1em;
    text-align: center;
    position: relative;
}

/* ------------------------- nav bar */
.navbar-brand{ /*smaller logo*/
    font-family: 'Monsieur La Doulaise', cursive, sans-serif;
    font-size: 2em;
}

.navbar {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
}

.shadow-lg {
    box-shadow:         0 1rem 1rem rgba(0,0,0,.175)!important;
    -moz-box-shadow:    0 1rem 1rem rgba(0,0,0,.175)!important;
    -webkit-box-shadow: 0 1rem 1rem rgba(0,0,0,.175)!important;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 3%;
}

.mb-5, .my-5 {
    margin-bottom: 2rem!important;
}

/* ------------------------- Body */

    .large-carousel{
        padding-top: 0;
    }
    /* media buttons to link to appropriate site */
    .stream-on {
        text-align: center;
        font-weight: bolder;
        padding-top: 5%;
    }

    .listening-options {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    li img {
        display: block;
        max-width: 2.5em;
        height: auto;
      }

    .listening-options li{
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 5%;
    }

    li.list-inline-item.youtube-icon {
        padding-bottom: 5.80%;
    }

    /* Tour dates */
    .tour-dates {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: lighter;
        font-size: 2em;
        text-align: center;
        padding-top: 2em;
        padding-bottom: .5em;
    }

    .tour-section {
        border-radius: 15px;
        -moz-box-shadow:    0 0 1rem #000000;
        -webkit-box-shadow: 0 0 1rem #000000;
        box-shadow:         0 0 1rem #000000;
    }

    .table {
        margin-bottom: 3.5em;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    td:first-child, .tour-country {
        text-align: left;
    }

    td:last-child{
        text-align: center;
    }

    .tour-date-small {
        text-align: right !important;
    }
   
    .table {
        max-width: 60%;
    }
    /* ------------------------- Audio embedding */
    .no-gutters {
        padding-left: 0;
        padding-right: 0;
    }

    .music-samples-section {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .sample-music-heading {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: lighter;
        font-size: 2em;
        text-align: center;
        padding-top: 1.5em;
        padding-bottom: .5em;
    }

    .audio-track{
        font-family: Helvetica, Arial, sans-serif;
        font-size: 10px;
        text-align: center;
        font-weight: 100;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        line-break: auto;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
    } 

    div iframe {
        width: 100%;
        height: auto;
    }

    /* ------------------------ Tweets */
    .twitter-section{
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
        border-radius: 15px;
        -moz-box-shadow:    0 0 1rem #000000;
        -webkit-box-shadow: 0 0 1rem #000000;
        box-shadow:         0 0 1rem #000000;
    }

    .twitter-heading {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: lighter;    
        margin-bottom: 2%;
    }
    
    .tweets, .card {
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
        text-align: center;
    }

    .card {
        margin-bottom: 5%;
    }
    /* ------------------------ Newsletter */
    .newsletter-heading {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: lighter;
        font-size: 2em;
        text-align: center;
    }

    .newsletter-section {
        padding-top: 2em;
    }

    .newsletter-pitch {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: lighter;
        font-size: 1em;
        text-align: center;
        padding-bottom: .5em;
        display: block;
        margin: 0 auto
    }

    .form-check {
        text-align: center;
    }

    .newsletter-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
    }

/* ------------------------- Footer */

.copyright, .footer-social-buttons {
    text-align: center;
    margin-bottom: .5em;
}

.footer-social-buttons {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 2em;
}

.copyright {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
}


dl, ol, ul {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* ------------------------- Hover States */
.main-logo:hover{
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e1c281
}

.footer-links:hover {
    color: rgba(225, 194, 129, 1)
}

.newsletter-btn:hover {
    background-color: #e1c281;
    color: #8E191C;
    border-color: rgba(0, 0, 0, 0);
}