@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap&family=Josefin+Slab:wght@100;300;400;600;700&family=Marck+Script&display=swap');

/* ------------------------- Fade in for body. To offer a nice laoding transition and to allow larger fonts to load if needed */
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    }
    
    @keyframes fadeInOpacity {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
 }

 html { /* for smooth scrolling to section */
    scroll-behavior: smooth;
 }

/* ------------------------- Colours */
        /* Colour of rumours album #fffcea */
        /* colour of 2018 album #ECCB82 */ 
        /* Colour for 50 year album #8E191C */
body {
    background-color: #fffcea;
}

.main-logo h1 {
    background-color:#8E191C;
    color: #e1c281;
}

.navbar {
    background-color: #8E191C;
}



.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #e1c281;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(227,192,133,.5);
}

.navbar .navbar-toggler { /* Nav bar button for collasped view*/
    border: 0;
}

.tour-dates, .curls{
    color: #8E191C;
}

.latest-news{
    color: #8E191C;
}

.tour{
    color: #fffcea;
    background-color: #8E191C;
}

.tour h3 {
    color: #e1c281;
}

div h4 {
    color: #e1c281;
    text-decoration: underline;
}


.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}
/* ------------------------- Main logo large */
.main-logo h1{
    font-family: 'Monsieur La Doulaise', cursive, sans-serif;
    font-size: 3.5em;
    padding-top: 0.4em;
    margin-bottom: -0.1em;
    text-align: center;
    position: relative;
}

/* ------------------------- nav bar */
.navbar-brand{ /*smaller logo*/
    font-family: 'Monsieur La Doulaise', cursive, sans-serif;
    font-size: 2em;
}

.navbar {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
}

.shadow-lg {
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175)!important;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 3%;
}

.mb-5, .my-5 {
    margin-bottom: 2rem!important;
}

/* ------------------------- Body */
.large-carousel{
    padding-top: 0;
}
    /* media buttons to link to appropriate site */
    .stream-on {
        text-align: center;
        font-weight: bolder;
        padding-top: 5%;
    }

    .listening-options {
        text-align: center;
    }

    li img {
        display: block;
        max-width: 2.5em;
        height: auto;
      }

    .list-inline li{
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 5%;
    }

    li.list-inline-item.youtube-icon {
        padding-bottom: 5.80%;
    }

    /* Tour dates */
    .curls{
        font-family: 'Monsieur La Doulaise', cursive, sans-serif;
        font-size: 3em;
    }

    .tour-dates {
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
        padding-bottom: 2%;
    }

    .tour{
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 25px;
        -moz-box-shadow:    inset 0 0 15px #000000;
        -webkit-box-shadow: inset 0 0 15px #000000;
        box-shadow:         inset 0 0 15px #000000;
    }
    
    .area-list {
        text-align: left;
    }

    .date-list {
        text-align: right;
    }

    div h4 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.5em;
    }
    
    
/* ------------------------- Hover States */
.main-logo:hover{
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e1c281
}

/* ------------------------- Images */

/* ------------------------- Footer */
